body {
  background-color: #0D1826;
  font-family: gothamM;
  margin: 0; padding: 0;
}

header {
  color: #Fff;
  font-family: gothamM;
  font-size: 2.2em;
  padding: .9em;
}

h1, h2, h3 {
  width: 80%;
}

input[type=search] {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: gothamM;
  font-size: 3em;
  outline: none;
  padding: 0 1em 0 1em;
  width: 80%;
}

li {
  display: inline;
  padding: 0;
  padding-right: 2em;
}

ul {
  list-style-type: none;
  padding-top: 3em;
}

.grid-sizer {
  width: 20%;
}

.image{
  display: block;
  margin: 0;
  width: 100%;
}

.image:after {
  clear:both;
}

.item {
  float: left;
  position: relative;
  width: 20%;
}

.item:hover .overlay {
  display: block;
}

.overlay {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 100%;
}

.overlay .title {
  font-size: 1em;
  line-height: 1.3em;
  padding: 0 1em 0 1em;
  position: relative;
  text-align: center;
  top: 20%;
}

#addbook {
  color: #fff;
  font-size: 3em;
  text-decoration: none;
}

#bookdetails {
  float: left;
  padding: 1em 5em 1em 5em;
  text-align: center;
}

#bookdetails a:hover {
  color: #4A90e2;
}

#bookresult p {
  clear: both;
  margin-left: 2em;
}

#bookresult .overlay .title {
  font-size: 1em;
  line-height: 1.3em;
  margin-left: -4em;
  position: relative;
  text-align: center;
  top: 20%;
}

#container {
  background-color: #0D1826;
}

#deletebook {
  color: #FF0808;
  font-size: 3em;
  text-decoration: none;
}

#deletebook a {
  color: #FF0808;
}

#nav {
  color: #fff;
  font-size: 2.5em;
  margin-top: .6em;
  margin-right: .9em;
  position: absolute;
  top: 0;
  right: 0;
}

#nav a:hover, #search a:hover, header a:hover {
  color: #4A90E2;
}

#search {
  color: #fff;
  float: right;
  font-size: 5em;
  font-family: gothamM;
  margin-right: 1em;
  margin-top: -0.4em;
  padding: 0em;
  position: relative;
}

#search a, #nav a, header a {
  color: #fff;
  text-decoration: none;
}

#textdetails {
  color: #fff;
  font-size: 2em;
  line-height: 1em;
  margin-left: 3em;
  margin-top: -.5em;
}

#textdetails h1 {
  font-size: 1em;
  line-height: 1em;
  margin-top: 1em;
  padding-right: 1em;
}

#textdetails h2 {
  font-family: gothamL;
  font-size: .8em;
}

#textdetails h3 {
  font-family: gothamL;
  font-size: .5em;
  line-height: 1.5em;
}


/*       Responsive Design      */

@media screen and (max-width: 1224px) {
  h1, h2, h3 { width: 90%;}
  input[type=search] { font-size: 2em; width: 80%;}
  .grid-sizer { width: 25%; }
  .item { width: 25%; }
  #bookdetails { padding: 1em;}
  #bookdetails img { width: 75%;}
  #search { font-size: 3.5em; margin-right: 0.5em;}
}

@media screen and (max-width: 720px) {
  .grid-sizer { width: 33.3%; }
  .item { width: 33.3%; }
  input[type=search] { font-size: 1.5em;}
  #bookdetails { padding: .2em;}
  #bookresult img { width: 30%;}
  #search { font-size: 3em;}
  #textdetails { font-size: 1.8em;}

}

@media screen and (max-width: 600px)  {
  h1,h2,h3 { width: 100%;}
  input[type=search] { font-size: 1em;}
  #bookdetails { padding: .5em;}
  #bookresult img { width: 40%;}
  #bookresult li { padding: .3em;}
  #bookresult ul { padding-top: 2em; margin: 0 auto;}
  #search { font-size: 2em;}
  #textdetails { padding: 0.2em; margin: 0.2em; margin-top: -.8em;}
  #textdetails h3 { line-height: 1.3em;}
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 50%; }
  .item { width: 50%; }
  input[type=search] { font-size: 1em;}
  ul { padding-top: 5em;}
  #textdetails { padding: 0.2em; margin: 0.2em;}
}

/*      Responsive Design     */



/*      Fonts     */

@font-face {
  font-family: gothamM;
  src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
  font-family: gothamL;
  src: url(../fonts/Gotham-Light.otf);
}

/*     Fonts    */
